@page
@model CCFTracker.Pages.Cadets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Cadet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cadet.ID" />
            <div class="form-group">
                <label asp-for="Cadet.Rank" class="control-label"></label>
                <input asp-for="Cadet.Rank" class="form-control" />
                <span asp-validation-for="Cadet.Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.Surname" class="control-label"></label>
                <input asp-for="Cadet.Surname" class="form-control" />
                <span asp-validation-for="Cadet.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.KnownAs" class="control-label"></label>
                <input asp-for="Cadet.KnownAs" class="form-control" />
                <span asp-validation-for="Cadet.KnownAs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.Year" class="control-label"></label>
                <input asp-for="Cadet.Year" class="form-control" />
                <span asp-validation-for="Cadet.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.Gender" class="control-label"></label>
                <input asp-for="Cadet.Gender" class="form-control" />
                <span asp-validation-for="Cadet.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.Form" class="control-label"></label>
                <input asp-for="Cadet.Form" class="form-control" />
                <span asp-validation-for="Cadet.Form" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.Platoon" class="control-label"></label>
                <input asp-for="Cadet.Platoon" class="form-control" />
                <span asp-validation-for="Cadet.Platoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cadet.Section" class="control-label"></label>
                <input asp-for="Cadet.Section" class="form-control" />
                <span asp-validation-for="Cadet.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
